    .swiper_1 .swiper-slide img {
        width: 100%;
        height: 100%;
      }

    .swiper_1 .swiper{
        width: 90%;
        max-width: 80vh;
    
    }
    
    .swiper_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
  }



  
  .swiper_1 .qr_container img {
    width: 90%;
    max-width: 60vh;
  }

  .qr_container{
    text-align: center;
  }


  .swiper{
        margin-left: 0;
        margin-right: 0;
        }

